body {
    background-color: #f9f9f9;
    font-family: Gilroy;
    border: none;
}

.img1 {
    margin-left: 80px;
    margin-top: 85px;
}

.div1 {
    width: 360px;
    font-family: Gilroy;
    font-weight: 900;
    font-size: 17.16px;
    line-height: 100%;
    letter-spacing: 0%;
    display: flex;
    gap: 46px;
    padding-top: 16px;

}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 37px;
    background-color: #fff;
}

.button1 {
    background-color: #75BF7A;
    width: 182px;
    height: 50px;
    font-family: Gilroy;
    border-radius: 6px;
    border: 0px solid #000;
    margin-left: 47px;
    font-weight: 900;
    color: white;
    font-size: 22px;



}

.div2 {
    padding-top: 85px;
    display: flex;
}

.p1 {
    width: 550px;
    font-family: Gilroy;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0%;
    padding-top: 27px;
    color: #9E9DA2;



}



h1 {
    font-family: Gilroy;
    font-weight: 800;
    font-size: 60.73px;
    line-height: 65.91px;
    letter-spacing: 0%;

}

.div3 {
    margin-top: 163px;

    margin-left: 80px;
}

.button2 {
    background-color: #000;
    color: #fff;
    display: flex;
    width: 260px;
    height: 67px;
    border: 0px solid black;


}

.p2 {
    font-family: Gilroy;
    font-weight: 800;
    font-size: 24.6px;
    line-height: 0px;
    letter-spacing: 0%;
    padding-top: 30px;
}

.p22 {
    font-family: Gilroy;
    font-weight: 800;
    font-size: 24.6px;
    line-height: 0px;
    letter-spacing: 0%;
    padding-top: 30px;
    padding-left: 7px;
}

.div4 {
    font-family: Gilroy;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
    display: flex;
    gap: 30px;

}

.section1 {
    display: flex;
    justify-content: space-between;

}

.img2 {
    padding-top: 4px;
    margin-right: 147px;
}

.div5 {
    width: 1350px;
    height: 166px;
    margin-top: 89px;
    border-radius: 10px;
    background-color: #75BF7A;
    display: flex;
    justify-self: center;

}

.p3 {
    width: 246px;
    margin-top: 55px;
    margin-left: 152px;
    font-family: Gilroy;
    font-weight: 600;
    font-size: 24.6px;
    line-height: 28px;
    letter-spacing: 0%;
    color: #FFFFFF;


}

.div6 {
    width: 499px;
    height: 67px;
    margin-top: 50px;
    margin-left: 122px;
    border-radius: 4.39px;
    background-color: white;
    font-family: Gilroy;
}

.p4 {
    font-family: Gilroy;
    font-weight: 600;
    font-size: 20px;
    line-height: 0px;
    letter-spacing: 0%;
    width: 256px;
    top: 38px;
    left: 35px;
    background-color: #DADADA;


}

.button3 {
    font-family: Gilroy;
    font-weight: 800;
    font-size: 22px;
    line-height: 0px;
    letter-spacing: 0%;
    width: 260px;
    height: 67px;
    margin-top: 50px;
    margin-left: 11px;
    border-radius: 4.39px;
    background-color: #000000;
    color: #fff;
    border: 0cap solid white;


}

input {
    width: 499px;
    height: 67px;
    margin-top: 50px;
    margin-left: 122px;
    border-radius: 4.39px;
    font-family: Gilroy;
    font-weight: 600;
    font-size: 20px;
    line-height: 0px;
    letter-spacing: 0%;
    padding-left: 35px;



}

.za {
    font-family: 'Gilroy';
    font-weight: 900;

    font-size: 22px;
    line-height: 50.35px;
    letter-spacing: 0%;


}

.phone_and_numbers {
    display: flex;
    background-image: url("Ellipse 1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    gap: 100px;
    padding-top: 63px;
}

.hhhhh img {
    width: 60.81920623779297px;
    height: 60.81920623779297px;


}

.hhhhh {
    margin: top -20px;
    ;
}



.or {
    width: 100px;
    height: 100px;
    border-radius: 100px;

    background-color: #75BF7A;
}

.hhhhh p {
    width: 290px;
}

.h4 {
    font-family: Gilroy;
    font-weight: 800;
    font-size: 46.39px;
    line-height: 50.35px;
    letter-spacing: 0%;
    color: #000;

    margin-top: 50px;



}

.span1 {
    font-family: Gilroy;
    font-weight: 800;
    font-size: 46.39px;
    line-height: 50.35px;
    letter-spacing: 0%;
    color: #75BF7A;


}

.p5 {
    font-family: Gilroy;
    font-weight: 500;
    font-size: 23px;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    color: #9E9DA2;
    text-align: center;





}

.ggg {
    text-align: end;
}

.ggg h4 {
    text-align: end;
}

.ggg img {
    width: 60.81920623779297px;
    height: 60.81920623779297px;

}

.ggg p {
    width: 290px;


}





.phone_and_numbers_titles {
    text-align: center;
}

.hhh1,
.hhj {
    margin-top: 84px;
}

.div4 a {
    text-decoration: none;
}

#give {
    border: 0px;
}

.asd {
    font-family: Gilroy;
    font-weight: 800;
    font-size: 46.39px;
    line-height: 50.35px;
    letter-spacing: 0%;
    color: #000;
    margin-top: 160px;
    text-align: center;


}

.dsa {
    font-family: Gilroy;
    font-weight: 800;
    font-size: 46.39px;
    line-height: 50.35px;
    letter-spacing: 0%;
    color: #75BF7A;
    padding-right: 15px;
}

.ch {
    background-color: #FFFFFF;
    width: 1060px;
    height: 304px;
    border-radius: 10px;
    margin-top: 56px;
    display: flex;
    margin-right: 630px;
    justify-self: center;

}

.ch1 {
    background-color: #FFFFFF;
    width: 1060px;
    height: 304px;
    border-radius: 10px;
    margin-top: 56px;
    display: flex;
    margin-left: 630px;
    justify-self: center;
}

.own {
    margin-top: 100px;
}

.ch h2,
.ch1 h2,
.ch2 h2 {
    font-family: Gilroy;
    font-weight: 500;
    font-size: 88px;
    line-height: 118.8px;
    letter-spacing: 0%;
    color: #75BF7A;

}

.gggg {
    padding-top: 72px;
    display: flex;
}

.hjl {
    font-family: Gilroy;
    font-weight: 600;
    font-size: 33.94px;
    line-height: 32.5px;
    letter-spacing: 0%;
    margin-top: 30px;
    margin-left: 39px;

}

.hot {
    font-family: Gilroy;
    font-weight: 500;
    font-size: 22px;
    line-height: 23px;
    letter-spacing: 0%;
    color: #9E9DA2;

}

.hott {
    justify-content: right;
    padding-left: 300px;

    padding-top: 24px;
    padding-bottom: 24px;

}

.hotttt {
    justify-content: right;
    padding-right: 290px;
    padding-top: 24px;
    padding-left: 50px;
    padding-bottom: 24px;

}

.hottt {
    display: flex;
    flex-direction: column;
    margin-left: 38px;
}

.hottttt {
    justify-content: right;
    margin-left: 150px;
    padding-right: 30px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.ch2 {
    background-color: #FFFFFF;
    width: 1060px;
    height: 304px;
    border-radius: 10px;
    margin-top: 56px;
    display: flex;
    margin-right: 630px;
    justify-self: center;
}

footer {
    background-color: #FFFFFF;
    width: 100%;
    height: 553px;
    margin-top: 275px;
    display: block;


}

.img7 {
    margin-left: 150px;
    margin-top: 125px;
    padding-bottom: 105px;
}

.dnm {
    display: flex;
    align-items: center;
}





.volume1 p,
.volume p {
    padding-top: 7px;
    color: #8B8BA5;
    font-family: Gilroy;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;

}

.volume h4,
.volume1 h4 {
    font-family: Gilroy;
    font-weight: 500;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;

}

.hhhh11 {
    margin-left: 300px;
    display: flex;
    gap: 73px;
}

.div700 {
    display: flex;
    gap: 30px;

    margin-left: 200px;
}

.div700 a {
    text-decoration: none;
}

.p777 {
    color: #75BF7A;
    font-family: Gilroy;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 38px;
}

.img77 {
    display: none;
}

.hhhh {
    display: none;
}

.a2 {
    display: flex;
}
.iiii {
    display: none;
}
.nnn {
    display: none;
}

@media (max-width:600px) {
    .a2 {
        display: none;
    }

    .section1 {
        align-items: center;
    }

    .div2 {
        padding-top: 85px;
        display: none;
    }

    .img77 {
        display: block;
        margin-right: 20px;
    }

    header {
        align-items: center;
        display: flex;
        padding-top: 40px;
        justify-content: space-between;
    }

    .img1 {
        width: 93px;
        height: 26.350000381469727px;
        margin: 0px;
        margin-left: 20px;

    }

    .section1 {
        display: flex;
        flex-direction: column-reverse;
    }

    h1 {
        font-family: Gilroy;
        font-weight: 800;
        font-size: 34.89px;
        line-height: 37.87px;
        letter-spacing: 0%;
        text-align: center;
        margin-right: 50px;
        display: flex;
        justify-content: center;


    }

    .p1 {
        display: flex;
        font-family: Gilroy;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0%;
        text-align: center;
        flex-wrap: wrap;
        padding-top: 27px;
        color: #9E9DA2;
        margin: 0;
        margin-left: 0px;
        width: 300px;
        display: flex;
        justify-content: center;
    }

    .div4 {
        gap: 17px;
        display: flex !important;
    }

    .div4 p {}

    .button2 {
        width: 151.272705078125px;
        height: 38.84983444213867px;
        border-radius: 2.91px;

    }

    .button2 p {
        font-size: 17px;
        margin-top: 0;
    }

    .div5 {
        width: 320px;
        height: 249px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;

    }

    .div5 p {
        margin: 0;
        padding: 0;
    }

    #give {
        margin-left: 13px;
        width: 260px;
        height: 48px;
        border-radius: 4.39px;

    }

    #give p {
        text-align: center;
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
    }

    .button3 {
        width: 280px;
        height: 48px;
        border-radius: 4.39px;
        margin-bottom: 20px;
        margin-left: 20px;

    }

    .ch,

    .ch2 {
        width: 320px;
        height: 477px;
        border-radius: 3.02px;
        display: flex !important;
        justify-content: space-around;
        flex-direction: column;
        margin: 0;
        padding: 0;

    }

    .ch1 {
        width: 320px;
        height: 477px;
        border-radius: 3.02px;
        display: flex !important;
        justify-content: space-around;
        flex-direction: column-reverse;
        margin: 0;
        padding: 0;
    }

    .ch img,
    .ch1 img,
    .ch2 img {
        width: 225.7152099609375px;
        height: 223.9846649169922px;
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
        margin-left: 50px;


    }

    .hjl {
        padding: 0;
        margin: 0;
        margin-top: 30px;

    }

    .hjl1 {
        padding: 0;
        margin: 0;
        margin-top: 30px;
        font-family: Gilroy;
        font-weight: 600;
        font-size: 24.98px;
        line-height: 23.92px;
        letter-spacing: 0%;

    }

    footer {
        display: flex !important;
        flex-direction: column !important;
    }

    .hhhh11 {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;

    }

    .volume {
        margin: 0;
        padding: 0;
        gap: 0px;
        margin-left: 170px;
    }

    .volume1 {
        margin: 0;
        padding: 0;
        gap: 0px;
        margin-left: 170px;
        display: none;
    }

    .fog {
        margin: 0;
        padding: 0;
        margin-top: 30px;
        margin-right: 100px;
        display: block;
    }

    .div700 {
        display: flex;
        flex-direction: column;
    }

    .img2 {
        width: 400px;
        height: 400px;
        padding-left: 100px;
    }

    .img7 {
        display: flex;
        justify-content: center;

    }

    .dnm {
        display: flex;
        justify-content: center;
    }

    .phone_and_numbers {
        display: flex;
        flex-direction: column;
        background-position: 50% 80px;
        justify-content: center;
        align-items: center;
        padding-bottom: 30px;
        margin: 0;

    }

    .hhhh {
        display: flex;
    }

    .none {
        display: none;
    }

    .nnn {
        display: flex;
    }

    .iii {
        display: none;
    }

    .iiii {
        display: flex;
        width: 223.18544006347656px;
        height: 448px;
        

    }
    .hhh,.hhh1,.hhh3,.hhj {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .ggg h4 {
        text-align: center;
    }
}